body {
    margin: 0;
    /* background-color: '#bdc6f5'; */
}

@font-face {
    font-family: 'GT Alpina';
    src: local('GT Alpina'), url(../Grilli-Type-Trial-Fonts-2022-10/Desktop/GT-Alpina/GT-Alpina-Fine-Standard-Light-Trial.otf) format('truetype')
}


/* 
.newBody {
    --tw-gradient-from: #bdc6f5;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(189 198 245/0));
} */